html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Esto hace que baje suavemente al dar clic */
}

a {
  color: inherit;
  text-decoration: none;
}